@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif; }
  body h1 {
    font: size 2.5rem;
    font-weight: 700; }
  body h2 {
    font: size 1.8rem;
    font-weight: 600; }
  body h3 {
    font-size: 1.4rem;
    font-weight: 800; }
  body h4 {
    font-size: 1.1rem;
    font-weight: 600; }
  body h5 {
    font-size: 1rem;
    font-weight: 400;
    columns: #1d1d1d; }
  body h6 {
    columns: #d8d8d8; }
  body button {
    font-size: 0.8rem;
    font-family: 'Poppins';
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
    margin-left: 50px; }
  body button:hover {
    background-color: black; }
  body hr {
    width: 100px;
    height: 2px;
    background-color: orange; }
  body .navbar {
    font: size 16px;
    top: 0;
    left: 0; }
    body .navbar .navbar-light .navbar-nav .nav-link {
      padding: 0 20px;
      transition: 0.3s ease; }
  body .navbar-light .navbar-nav .nav-link:hover,
  body .navbar i:hover,
  body .navbar-light .navbar-nav .nav-link.active,
  body .navbar i.active {
    color: coral; }
  body body > nav > div > button:hover #bar,
  body body > nav > div > button:focus {
    background-color: white; }

/* mobile nav */
.navbar-light .navbar-toggler {
  border: none;
  outline: none; }

.navbar-right {
  color: pink; }
  .navbar-right input {
    border-radius: 50px;
    border: 1px solid pink; }

.top-bar {
  width: 100%;
  height: 70px;
  background-color: black;
  margin-top: 70px; }
  .top-bar ul {
    text-align: center; }
    @media screen and (max-width: 767px) {
      .top-bar ul {
        display: none; } }
    .top-bar ul li {
      float: left;
      list-style: none;
      margin: 25px 30px;
      display: inline-block; }
    .top-bar ul a {
      color: white; }

#home {
  background-image: url("/img/christopher-campbell-rDEOVtE7vOs-unsplash.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }

.category {
  background-color: #FFDDDD; }
  .category .card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: none; }
    .category .card-wrapper .inner-section {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #FFDDDD; }
      .category .card-wrapper .inner-section .card {
        width: 50%;
        height: 100%;
        position: relative;
        background-color: #FFDDDD;
        overflow: hidden;
        object-fit: cover;
        border: none; }
        .category .card-wrapper .inner-section .card img {
          width: 100%;
          height: 100%; }
      .category .card-wrapper .inner-section p {
        text-align: center;
        padding-top: 20px; }

#popular {
  background-color: white; }

.review {
  display: flex;
  background-color: white; }
  @media screen and (max-width: 767px) {
    .review {
      display: inline-block;
      align-content: center; } }
  .review .review-left {
    background-color: #FFDDDD;
    width: 50%;
    position: relative;
    flex-direction: column; }
    @media screen and (max-width: 767px) {
      .review .review-left {
        align-items: center;
        width: 100%; } }
    .review .review-left .review-img {
      width: 280px;
      height: auto;
      margin-left: 150px;
      position: relative;
      align-items: center; }
  .review .review-right {
    background-color: #FFB8B8;
    width: 50%;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center; }
    @media screen and (max-width: 767px) {
      .review .review-right {
        align-items: center;
        width: 100%; } }
    .review .review-right h2 {
      margin-top: 30px;
      margin-bottom: 50px; }
    .review .review-right p {
      margin: 20px 50px; }
      .review .review-right p .review-right-img {
        width: 78px;
        height: 79px;
        margin-top: 30px; }

.contact {
  padding: 120px 0; }
  .contact h2 {
    font-size: 48px;
    font-weight: 500; }
  .contact .contact-form {
    margin-top: 50px;
    padding-left: 135px;
    padding-right: 135px; }
    .contact .contact-form button {
      margin-left: 10px;
      margin-right: 10px;
      width: 100%;
      background-color: #db6260;
      border-color: #db6260;
      color: white;
      border-radius: 50px;
      display: inline-block; }

footer {
  background-color: #FFDDDD; }

footer h5 {
  color: #d8d8d8;
  font-weight: 700;
  font-size: 1.2rem; }

footer h6 {
  color: white;
  font-size: 1rem; }

footer li {
  padding-bottom: 4px; }

footer li a {
  font: size 0.8rem;
  color: white; }

footer p {
  color: white;
  font-size: 0.8rem; }

footer .sns a {
  color: #000;
  width: 38px;
  height: 38px;
  background-color: white;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  transition: 0.3s ease;
  margin: 0 5px; }

footer .copyright {
  text-align: center;
  color: white;
  transition: 0.3s all; }

#home > div > div {
  /* font-style: italic; */
  font-family: 'Times New Roman', Times, serif;
  width: 300px;
  color: aliceblue; }

.top-text {
  font-style: italic;
  font-family: monospace;
  font-weight: 200;
  color: aliceblue; }

/* #new-arrival > div.row.mx-auto.container-fluid >div:nth-child(1)> a{ */
#new-arrival > div.row.mx-auto.container-fluid > div > a {
  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: #fb77fb;
  color: aliceblue;
  padding: 13px 30px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease; }

#popular > div.row.mx-auto.container-fluid > div:nth-child(n) > a {
  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: #fb77fb;
  color: aliceblue;
  padding: 13px 30px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease; }
